<ion-view title="{{factor.name}}">
  <ion-content has-header="true" padding="true">
    <ul class="details">
      <li class="canvas">
        <canvas id="factor_history" width="600" height="300">
          {{Plot(factor.value)}}
        </canvas>
      </li>
      <li class="override">
        <div class="current-state">{{factor.device}} is <span class='state-word' id='current-state-word'>{{factor.states[factor.state]}}</span></div>
        <div class="override">
          <button class='override' onclick='override()'>
            Turn {{factor.device}} <span class='state-word' id='current-not-state-word'>{{factor.states[1 - factor.state]}}</span>
          </button>
        </div>
        <div id='override-warning'>Override lasts 1hr.</div>
      </li>
    </ul>
  </ion-content>
</ion-view>
