/* Style Sheet for the Ionic SproutWave client */

.factor-overview{
  display: inline;
}

li.overview{
  float:left
  display:inline;
  float:left;
  padding:0px;
  margin:0px; 
  height:100px;
  vertical-align:middle;
}
li.factor-name{
	font-size: 14px;	
}
li.canvas{
  text-align: center;
}

.value-and-state{
  text-align: center;
  width:50%;
}

p.factor-value{
  font-size: 48px;
  height: 48px;
  overflow: visible;
  margin: 10px;
}

p.state{
  font-size: 18px;
  margin: -20px;
}

.factor-name{
  text-align: justify;
  font-size: 18px;
  width:30%;
}

.detail-link{
  text-align: right;
  font-size: 18px;
  width:20%;
}

.detail-list{
}

.factor-list{
  height: 100px
}

div.current-state{
  width: 25%;
  font-size: 10px;
  float: left;
  text-align: left;
}

.state-word{
  font-size: 18px;
}

div.override{
  width: 35%;
  font-size: 12px;
  float: left;
  text-align: center;
}

div.override-warning{
  color: #d21400;
  font-size: 12px;
  visibility: hidden;
  text-align: center;
  width: 35%;
  float: right;

}

button.override {
  color:#111111;
  font-size:12px;
  padding:5px;
  background-color:rgba(210,210,210,1);
  border:1px solid #888888;
  border-radius:10px;
 }
 
button.override:active {
  background-color:rgba(11,11,11,1);
  color:#d2d2d2;
 }
