/* Style Sheet for the Ionic SproutWave client */

.factor-overview{
  display: inline;
}

li{
  float:left
  display:inline;
  float:left;
  padding:0px;
  margin:0px; 
  height:100px;
  vertical-align:middle;
}

.factor-value{
  text-align: center;
  font-size: 48px;
  width:50%;
}
  
.factor-name{
  text-align: justify;
  font-size: 18px;
  width:25%;
}

.detail-link{
  text-align: right;
  font-size: 18px;
  width:25%;
}

.detail-list{
}

.factor-list{
  height: 100px
}


